In [34]:
import pandas as pd #importing
customer_data = pd.read_json('customers.json') # reading customer data which is in json format using read_json ()
customer_data.head()

   customer_id     customer_name     country           city
0         9780      Jessica Hart  Martinique  South William
1         9169         Amy Clark  Kazakhstan     Davisville
2         6631  Danielle Elliott     Armenia     East Danny
3         8772     Robin Mendoza      Uganda    Johnsonbury
4         8913    Abigail Miller     Namibia  Wrightchester

In [2]:
print(customer_data.columns)

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [3]:
transaction_data = pd.read_json('transaction_logs.json')
transaction_data.tail()

,order_id,customer_id,product_id,product_name,product_category,payment_type,qty,price,datetime,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
9995,9996,1496,9676,Range home & kitche,Home & Kitchen,Wallet,39,61151,2024-03-17 09:06:05,www.ebay.in,03c982f7,Y,
9996,9997,7288,9927,Once toy,Toys,Internet Banking,44,53963,2024-06-17 08:04:22,www.amazon.in,46bd0811,N,Blocked Card
9997,9998,8381,3852,Human beaut,Beauty,UPI,48,26032,2023-02-05 04:20:30,www.tatacliq.com,d115279c,Y,
9998,9999,5494,7324,Light beaut,Beauty,UPI,17,28277,2024-02-17 03:05:57,www.etsy.com,6d1628b3,N,Card Expired
9999,10000,1490,6547,Source furnitur,Furniture,UPI,34,91020,2023-01-11 03:02:53,www.flipkart.com,224381cd,N,Insufficient Funds

In [4]:
transaction_data.columns

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [5]:
## preprocessing
new_df = customer_data.dropna() #esure that empty cells are removed
print(customer_data.columns)

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [6]:
print(customer_data.info()) #using info () we have extracted basic info about tables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   country        1000 non-null   object
 3   city           1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB
None

In [7]:
print(customer_data.duplicated()) # checking for duplicate values to maintain data integrity

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [8]:
## preprocessing
new_df = transaction_data.dropna() #esure that empty cells are removed
print(transaction_data.columns)

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [9]:
print(transaction_data.duplicated()) # checking for duplicate values to maintain data integrity

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [10]:
print(transaction_data.info()) #using info () we have extracted basic info about tables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   product_id              10000 non-null  int64
 3   product_name            10000 non-null  object
 4   product_category        10000 non-null  object
 5   payment_type            10000 non-null  object
 6   qty                     10000 non-null  int64
 7   price                   10000 non-null  int64
 8   datetime                10000 non-null  datetime64[ns]
 9   ecommerce_website_name  10000 non-null  object
 10  payment_txn_id          10000 non-null  object
 11  payment_txn_success     10000 non-null  object
 12  failure_reason          10000 non-null  object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 1015.8+ KB
None

In [1]:
import mysql.connector
# Establish MySQL connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="jaishreeram",
    database="project"
)
cursor = conn.cursor(buffered=True)

In [2]:
import ddl
# Create tables
# Create Customers Table
create_customers_table_sql = """
CREATE TABLE IF NOT EXISTS Customers (
    customer_id INT PRIMARY KEY AUTO_INCREMENT,
    customer_name VARCHAR(255) NOT NULL,
    country VARCHAR(255),
    city VARCHAR(255)
);
"""

ddl.create_table(cursor, 'Customers', create_customers_table_sql)

Table 'Customers' created successfully.

In [3]:
import ddl
# Create tables
create_products_table_sql = """
-- Products Table
CREATE TABLE IF NOT EXISTS Products (
    product_id INT PRIMARY KEY AUTO_INCREMENT,
    product_name VARCHAR(255) NOT NULL,
    product_category VARCHAR(255)
);
"""
ddl.create_table(cursor, 'Products', create_products_table_sql)

Table 'Products' created successfully.

In [4]:
# Create Products Table
create_products_table_sql = """
CREATE TABLE IF NOT EXISTS Products (
    product_id INT PRIMARY KEY AUTO_INCREMENT,
    product_name VARCHAR(255) NOT NULL,
    product_category VARCHAR(255)
);
"""

ddl.create_table(cursor, 'Products', create_products_table_sql)

Table 'Products' created successfully.

In [18]:
# Create EcommerceWebsites Table
create_ecommerce_websites_table_sql = """
CREATE TABLE IF NOT EXISTS EcommerceWebsites (
    ecommerce_website_id INT PRIMARY KEY AUTO_INCREMENT,
    ecommerce_website_name VARCHAR(255) UNIQUE NOT NULL
);
"""

ddl.create_table(cursor, 'EcommerceWebsites', create_ecommerce_websites_table_sql)

Table 'EcommerceWebsites' created successfully.

In [6]:
# Create PaymentTypes Table
create_payment_types_table_sql = """
CREATE TABLE IF NOT EXISTS PaymentTypes (
    payment_txn_id VARCHAR(255) PRIMARY KEY,
    payment_txn_success BOOLEAN,
    failure_reason TEXT
);
"""

ddl.create_table(cursor, 'PaymentTypes', create_payment_types_table_sql)

Table 'PaymentTypes' created successfully.

In [19]:
# Create Transactions Table
create_transactions_table_sql = """
CREATE TABLE IF NOT EXISTS Transactions (
    order_id INT PRIMARY KEY AUTO_INCREMENT,
    customer_id INT,
    product_id INT,
    qty INT,
    price DECIMAL(10, 2),
    datetime DATETIME,
    ecommerce_website_id INT,
    payment_txn_id VARCHAR(255),
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id),
    FOREIGN KEY (ecommerce_website_id) REFERENCES EcommerceWebsites(ecommerce_website_id),
    FOREIGN KEY (payment_txn_id) REFERENCES PaymentTypes(payment_txn_id)
);
"""

ddl.create_table(cursor, 'Transactions', create_transactions_table_sql)

Table 'Transactions' created successfully.

In [85]:
import ddl
# Drop existing tables
ddl.drop_table(cursor, 'Test')

Table 'Test' dropped successfully.

In [15]:
ddl.drop_table(cursor, 'Transactions')

Table 'Transactions' dropped successfully.

In [9]:
ddl.drop_table(cursor, 'Customers')
ddl.drop_table(cursor, 'Products')
ddl.drop_table(cursor, 'EcommerceWebsites')
ddl.drop_table(cursor, 'PaymentTypes')

Table 'Customers' dropped successfully.
Table 'Products' dropped successfully.
Table 'EcommerceWebsites' dropped successfully.
Table 'PaymentTypes' dropped successfully.

In [16]:
ddl.drop_table(cursor, 'EcommerceWebsites')

Table 'EcommerceWebsites' dropped successfully.

In [13]:
# View tables
ddl.view_tables(cursor)

Tables:
customers
ecommercewebsites
paymenttypes
products
transactions

In [26]:
# Describe tables
ddl.describe_table(cursor, 'Customers')

Structure of table 'Customers':
('customer_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('customer_name', 'varchar(255)', 'NO', '', None, '')
('country', 'varchar(255)', 'YES', '', None, '')
('city', 'varchar(255)', 'YES', '', None, '')

In [27]:
ddl.describe_table(cursor, 'Products')

Structure of table 'Products':
('product_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('product_name', 'varchar(255)', 'NO', '', None, '')
('product_category', 'varchar(255)', 'YES', '', None, '')

In [28]:
ddl.describe_table(cursor, 'EcommerceWebsites')

Structure of table 'EcommerceWebsites':
('ecommerce_website_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('ecommerce_website_name', 'varchar(255)', 'NO', 'UNI', None, '')

In [29]:
ddl.describe_table(cursor, 'PaymentTypes')

Structure of table 'PaymentTypes':
('payment_txn_id', 'varchar(255)', 'NO', 'PRI', None, '')
('payment_txn_success', 'tinyint(1)', 'YES', '', None, '')
('failure_reason', 'text', 'YES', '', None, '')

In [30]:
ddl.describe_table(cursor, 'Transactions')

Structure of table 'Transactions':
('order_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('customer_id', 'int', 'YES', 'MUL', None, '')
('product_id', 'int', 'YES', 'MUL', None, '')
('qty', 'int', 'YES', '', None, '')
('price', 'decimal(10,2)', 'YES', '', None, '')
('datetime', 'datetime', 'YES', '', None, '')
('ecommerce_website_id', 'int', 'YES', 'MUL', None, '')
('payment_txn_id', 'varchar(255)', 'YES', 'MUL', None, '')

In [15]:
# Alter Table
ddl.alter_table(cursor, 'Customers', """
    ALTER TABLE Customers
    ADD COLUMN email VARCHAR(100)
""")
conn.commit()
print("Table altered successfully.")

Table 'Customers' altered successfully.
Table altered successfully.

In [86]:
# Truncate Table
ddl.truncate_table(cursor, 'Test1')
conn.commit()
print("Table truncated successfully.")

Table 'Test1' truncated successfully.
Table truncated successfully.

In [20]:
import dml

In [21]:
# Define customer values
customers_values = [
    ('Alice Smith', 'USA', 'New York'),
    ('Bob Johnson', 'Canada', 'Toronto'),
    ('Charlie Brown', 'UK', 'London'),
    ('Diana Prince', 'USA', 'Los Angeles'),
    ('Evan Davis', 'Australia', 'Sydney')
]

# Insert data into Customers table
dml.insert_customers(cursor, customers_values)

Customers inserted successfully.

In [22]:
# Define product values
products_values = [
    ('Wireless Mouse', 'Electronics'),
    ('Yoga Mat', 'Fitness'),
    ('Office Chair', 'Furniture'),
    ('Laptop', 'Electronics'),
    ('Running Shoes', 'Sportswear')
]

# Insert data into Products table
dml.insert_products(cursor, products_values)

Products inserted successfully.

In [23]:
# Define ecommerce website values as a list of tuples
ecommerce_websites_values = [
    ('Amazon',),
    ('eBay',),
    ('Walmart',),
    ('BestBuy',),
    ('Target',)
]

# Insert data into EcommerceWebsites table
dml.insert_ecommerce_websites(cursor, ecommerce_websites_values)

Ecommerce websites inserted successfully.

In [24]:
# Define payment type values as a list of tuples
payment_types_values = [
    ('TXN123456', True, None),
    ('TXN123457', True, None),
    ('TXN123458', False, 'Insufficient Funds'),
    ('TXN123459', True, None),
    ('TXN123460', False, 'Card Expired')
]

# Insert data into PaymentTypes table
dml.insert_payment_types(cursor, payment_types_values)

Error: 1062 (23000): Duplicate entry 'TXN123456' for key 'paymenttypes.PRIMARY'

In [25]:
# Define transaction values as a list of tuples
transactions_values = [
    (1, 1, 2, 25.99, '2024-08-18 12:34:56', 1, 'TXN123456'),
    (2, 2, 1, 45.00, '2024-08-18 14:20:11', 2, 'TXN123457'),
    (3, 3, 1, 150.75, '2024-08-18 16:45:00', 3, 'TXN123458'),
    (4, 4, 1, 999.99, '2024-08-18 18:10:30', 4, 'TXN123459'),
    (5, 5, 3, 85.50, '2024-08-18 20:05:45', 5, 'TXN123460')
]

# Insert data into Transactions table
dml.insert_transactions(cursor, transactions_values)

Transactions inserted successfully.

In [32]:
import dql
# Define the SELECT query
select_customers_query = "SELECT * FROM Customers;"

# Execute the query and fetch results
customers_results = dql.select_query(cursor, select_customers_query)

# Print the results
print("Customers:")
for row in customers_results:
    print(row)

Customers:
(1, 'Alice Smith', 'USA', 'New York')
(2, 'Bob Johnson', 'Canada', 'Toronto')
(3, 'Charlie Brown', 'UK', 'London')
(4, 'Diana Prince', 'USA', 'Los Angeles')
(5, 'Evan Davis', 'Australia', 'Sydney')
(6, 'Alice Smith', 'USA', 'New York')
(7, 'Bob Johnson', 'Canada', 'Toronto')
(8, 'Charlie Brown', 'UK', 'London')
(9, 'Diana Prince', 'USA', 'Los Angeles')
(10, 'Evan Davis', 'Australia', 'Sydney')
(16, 'Alice Smith', 'USA', 'New York')
(17, 'Bob Johnson', 'Canada', 'Toronto')
(18, 'Charlie Brown', 'UK', 'London')
(19, 'Diana Prince', 'USA', 'Los Angeles')
(20, 'Evan Davis', 'Australia', 'Sydney')
(21, 'Alice Smith', 'USA', 'New York')
(22, 'Bob Johnson', 'Canada', 'Toronto')
(23, 'Charlie Brown', 'UK', 'London')
(24, 'Diana Prince', 'USA', 'Los Angeles')
(25, 'Evan Davis', 'Australia', 'Sydney')

In [33]:
# Define the SELECT query
select_products_query = "SELECT * FROM Products WHERE product_category = 'Electronics';"

# Execute the query and fetch results
products_results = dql.select_query(cursor, select_products_query)

# Print the results
print("Electronics Products:")
for row in products_results:
    print(row)

Electronics Products:
(1, 'Wireless Mouse', 'Electronics')
(4, 'Laptop', 'Electronics')
(11, 'Wireless Mouse', 'Electronics')
(14, 'Laptop', 'Electronics')
(16, 'Wireless Mouse', 'Electronics')
(19, 'Laptop', 'Electronics')

In [77]:

# Delete a specific customer
dml.delete_customer(cursor, 201)  # Replace 201 with the customer ID you want to delete

# Delete a specific product
dml.delete_product(cursor, 301)  # Replace 301 with the product ID you want to delete

# Commit changes
conn.commit()

Customer with ID 201 deleted successfully.
Product with ID 301 deleted successfully.

In [44]:
# Update customer city
dml.update_customer_city(cursor, 'San Francisco', 1)

# Delete failed transactions
dml.delete_failed_transactions(cursor)

# Commit changes
conn.commit()

City updated successfully for customer ID 1.
Failed transactions deleted successfully.

In [41]:
# Close the database connection
cursor.close()
conn.close()
print("Database connection closed.")

Database connection closed.